body {
  font-family: "Manrope", sans-serif;
}
h1 {
  color: #efcc30;
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
img {
  width: 90px;
  margin-right: 5px;
  margin-top: -25px;
}
img.forecast {
  width: 60px;
  display: block;
  margin: 0 auto;
}
small {
  font-size: 13px;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 10px;
  border: 1px solid #efcc30;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.temperature {
  font-size: 48px;
  font-style: bolder;
  font-weight: 500;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 15px;
  top: -25px;
}
.float-left {
  float: left;
}
.description {
  text-transform: capitalize;
}
.active {
  color: black;
  text-decoration: none;
}
.active:hover {
  cursor: default;
  color: black;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
  margin-left: -10px;
}
.weather-forecast-day,
.weather-forecast-temperature {
  font-size: 14px;
}
.minimum-temp {
  opacity: 0.6;
}
